<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value, "Valor" %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :date, "Data" %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :subaccount, "Subconta de referência" %><br>
    <%= f.text_field :subaccount_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
