<h1>Listing entries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Subaccount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.description %></td>
        <td><%= entry.value %></td>
        <td><%= entry.date %></td>
        <td><%= entry.subaccount_id %></td>
        <td><%= link_to '', entry, class: 'fa fa-caret-square-o-right'%></td>
        <td><%= link_to '', edit_entry_path(entry), class: "fa fa-pencil" %></td>
        <td><%= link_to '', entry, method: :delete, data: { confirm: 'Tem certeza que deseja excluir ?' }, class: 'fa fa-trash-o' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_entry_path do %>
  Novo <i class='fa fa-plus'></i>
<% end %>