<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @budget.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @budget.description %>
</p>

<%= link_to edit_budget_path(@budget) do %>
	Editar <i class="fa fa-arrow-right"></i>
<% end %>
|
<%= link_to budgets_path do %>
	Voltar <i class="fa fa-arrow-left"></i>
<% end %>

