<h1>Sub contas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Total</th>
      <th>Descrição</th>
      <th>Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_accounts.each do |sub_account| %>
      <tr>
        <td><%= sub_account.name %></td>
        <td><%= sub_account.total %></td>
        <td><%= sub_account.description %></td>
        <td><%= sub_account.accounts_id %></td>
        <td><%= link_to '', edit_sub_account_path(sub_account),class: "fa fa-pencil" %></td>
        <td><%= link_to '', sub_account,  class: 'fa fa-caret-square-o-right' %></td>
        <td><%= link_to '', sub_account, method: :delete, data: { confirm: 'Deseja realmente apagar ?' }, class: 'fa fa-trash-o' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_sub_account_path do %>
  Novo <i class='fa fa-plus'></i>
<% end %>