<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @account.total %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @account.description %>
</p>

<%= link_to  edit_account_path(@account) do %>
  Editar <i class='fa fa-pencil'></i>
<% end %>
|
<%= link_to accounts_path do %>
	Voltar <i class='fa fa-arrow-left'></i>
<% end %>